<section class="footer" data-aos="fade-down">
  <div class="container margin-0-auto">
    <div class="footer-main flex color-white j-c-space-between">
    <div class="position-relative">
      <img class="footer-logo" src="img/logo-w.svg">
      <span class="footer-refueling color-white block">Заправка газгольдеров в Крыму</span>
    </div>
      <ul>
        <li><a href="#">О компании</a></li>
        <li><a href="#">Доставка и оплата</a></li>
        <li><a href="#">Документация</a></li>
        <li><a href="#">Статьи</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
      <ul>
        <li><a href="#">Доставка газа для АЗС</a></li>
        <li><a href="#">Заправка газгольдеров</a></li>
        <li><a href="#">Услуги по транспортировке сжиженного газа</a></li>
      </ul>
      <ul>
        <li>г. Симферополь, <br>
          ул. г. Аджимушкая, 5/15 кв 2</li>
        <li> <a href="tel:+79787308058">+7 (978) 730-80-58</a></li>
        <li>
          <a href="#"><img src="img/vk.svg"></a>
          <a href="#"><img src="img/instagram.svg"></a>
        </li>
      </ul>
  </div>
  </div>
  <div class="footer-separator"></div>
  <div class="container margin-0-auto">
    <div class="footer-bottom">
      <ul class="flex color-white j-c-space-between">
        <li class="flex a-i-center"><a href="#">Политика конфиденциальности</a></li>
        <li class="flex a-i-center">г. Симферополь © Copyright  2021 г.</li>
        <li class="flex a-i-center">Сделано в <a href="#"><img src="img/sheer.png"></a> </li>
      </ul>
  </div>
  </div>
</section>