<section class="header flex j-c-center position-relative" data-aos="fade-down">
  <img class="header-truck position-absolute" src="img/track.png">
  <img class="header-house position-absolute" src="img/house.png">
  <div class="container position-relative">
    <button class="header-burgerMenu block" id="burgerButton" onclick="openMenu()">
      <div class="header-buttonPart"></div>
    </button>
    <div class="header-contactInfo flex j-c-space-between" id="contact">
      <div class="flex">
        <div class="position-relative">
          <img class="header-logo" src="img/logo.svg">
          <span class="header-refueling block">Заправка газгольдеров в Крыму</span>
        </div>
        <span class="header-address block">г. Симферополь,<br> ул. г. Аджимушкая, 5/15 кв 2</span>
      </div>
      <div class="header-contacts flex">
        <div class="text-a-end">
          <span class="block mul-bold">+7 (978) 730-80-58</span>
          <a class="block" href="tel:+79787308058">Заказать звонок</a>
        </div>
        <button></button>
      </div>
    </div>
    <div class="header-delivery position-relative">
      <h1><span class="mul-bold">Доставим</span> <span class="color-blue mul-bold">газ</span><br>
        <span> в любую точку Крыма от </span> <span class="color-blue">25 Р/л</span>
      </h1>
      <span class="header-liquidGas block">
        Компания АВТОГАЗКОМПЛЕКТ-КРЫМ специализируется на поставках СУГ (сжиженного углеводородного газа).
        Вы можете купить пропан-бутан крупным, мелким оптом и в розницу для заправки газгольдеров разных объемов
      </span>
    </div>
    <div class="header-claim flex">
      <div class="requestForCall flex">
        <input class="requestForCall-phone a-s-self-start mul-medium" id="phone" type="text" placeholder="+7(___)___-__-__" />
        <button class="requestForCall-sendClaim customBtn a-s-self-start">Отправить заявку</button>
      </div>
      <button class="header-calcClaim customBtn a-s-self-start">Рассчитать стоимость заправки</button>
    </div>
    <ul class="header-tips flex flex-d-column">
      <li>
        Заполним газгольдер по счетчику
        и выдадим чек на месте.
      </li>
      <li>
        Доставка осуществляется в  зимний период
        за 1-2 дня, в летний - в течение дня.
      </li>
      <li>
        Газ проходит фильтрацию перед доставкой.
        Вы получите газ без примесей серы, воды и масла
      </li>
    </ul>
    <h2>Заправляем газгольдеры на объектах</h2>
    <div class="header-brickwork position-relative" data-aos="zoom-out-left" data-aos-duration="1000">
      <div class="header-navbar flex j-c-space-between">
        <button onclick="toggleTabs(1)">Частные клиенты</button>
        <button onclick="toggleTabs(2)">Дачные поселки</button>
        <button onclick="toggleTabs(3)">Комплекты АГЗС</button>
        <button onclick="toggleTabs(4)">Промышленные организации</button>
      </div>
      <div class="header-bricksWrapper">
        <div class="header-brick flex">
          <div class="text-a-center">
            <p>
              <b>Газгольдеры для частного дома</b> — это стальные емкости, предназначенные для хранения, распределения и подачи
              газового топлива. В качестве топлива используется СУГ — сжиженный углеводородный газ, который поступает
              из газгольдера по трубам в виде паровой фазы. В России используются пропан-бутановые смеси. Они отличаются
              высокой теплотворной способностью и в то же время низким пределом взрываемости — то есть потребуется
              большая концентрация горючего вещества, чтобы он воспламенился при контакте с кислородом. Но важно, чтобы
              газгольдер был установлен в соответствии с правилами размещения сосуда под давлением на частном участке,
              иначе вероятность взрыва баллонов и отравления газом будет намного выше.
            </p>
            <button class="customBtn">Оставить заявку</button>
          </div>
          <img src="img/example.jpg">
        </div>
        <div class="header-brick flex">
          <div class="text-a-center">
            <p>
              <b>Газгольдеры для частного дома</b> — это стальные емкости, предназначенные для хранения, распределения и подачи
              газового топлива. В качестве топлива используется СУГ — сжиженный углеводородный газ, который поступает
              из газгольдера по трубам в виде паровой фазы. В России используются пропан-бутановые смеси. Они отличаются
              высокой теплотворной способностью и в то же время низким пределом взрываемости — то есть потребуется
              большая концентрация горючего вещества, чтобы он воспламенился при контакте с кислородом. Но важно, чтобы
              газгольдер был установлен в соответствии с правилами размещения сосуда под давлением на частном участке,
              иначе вероятность взрыва баллонов и отравления газом будет намного выше.
            </p>
            <button class="customBtn">Оставить заявку</button>
          </div>
          <img src="img/example.jpg">
        </div>
        <div class="header-brick flex">
          <div class="text-a-center">
            <p>
              <b>Газгольдеры для частного дома</b> — это стальные емкости, предназначенные для хранения, распределения и подачи
              газового топлива. В качестве топлива используется СУГ — сжиженный углеводородный газ, который поступает
              из газгольдера по трубам в виде паровой фазы. В России используются пропан-бутановые смеси. Они отличаются
              высокой теплотворной способностью и в то же время низким пределом взрываемости — то есть потребуется
              большая концентрация горючего вещества, чтобы он воспламенился при контакте с кислородом. Но важно, чтобы
              газгольдер был установлен в соответствии с правилами размещения сосуда под давлением на частном участке,
              иначе вероятность взрыва баллонов и отравления газом будет намного выше.
            </p>
            <button class="customBtn">Оставить заявку</button>
          </div>
          <img src="img/example.jpg">
        </div>
        <div class="header-brick flex">
          <div class="text-a-center">
            <p>
              <b>Газгольдеры для частного дома</b> — это стальные емкости, предназначенные для хранения, распределения и подачи
              газового топлива. В качестве топлива используется СУГ — сжиженный углеводородный газ, который поступает
              из газгольдера по трубам в виде паровой фазы. В России используются пропан-бутановые смеси. Они отличаются
              высокой теплотворной способностью и в то же время низким пределом взрываемости — то есть потребуется
              большая концентрация горючего вещества, чтобы он воспламенился при контакте с кислородом. Но важно, чтобы
              газгольдер был установлен в соответствии с правилами размещения сосуда под давлением на частном участке,
              иначе вероятность взрыва баллонов и отравления газом будет намного выше.
            </p>
            <button class="customBtn">Оставить заявку</button>
          </div>
          <img src="img/example.jpg">
        </div>
      </div>
    </div>
  </div>
</section>