.flex {
  display: flex;
}

.flex-d-column {
  flex-direction: column;
}

.flex-wrap-w {
  flex-wrap: wrap;
}

.a-i-center {
  align-items: center;
}

.a-i-start {
  align-items: start;
}

.a-i-flex-end {
  align-items: flex-end;
}

.j-c-center {
  justify-content: center;
}

.text-a-center {
  text-align: center;
}

.text-a-end {
  text-align: end;
}

.block {
  display: block;
}

.j-c-space-between {
  justify-content: space-between;
}

.j-c-space-between {
  justify-content: space-between;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-t-uppercase {
  text-transform: uppercase;
}

.a-s-self-start {
  align-self: self-start;
}

.color-white {
  color: #ffffff;
}

.mul-light {
  font-family: "Muller Light";
}

.mul-regular {
  font-family: "Muller Regular";
}

.mul-bold {
  font-family: "Muller Bold";
}

.mul-black {
  font-family: "Muller Black";
}

.mul-medium {
  font-family: "Muller Medium";
}

.color-blue {
  color: #2a579c;
}

.margin-0-auto {
  margin: 0 auto;
}
